<% include  ../partials/header%>
	
	<div class="container">
		<h2 class="post-show-title"><%= post.title %></h2>
		
		<p class="post-show-text"><%- post.text %></p>
		<div class="show-date-isPrivate-line d-flex justify-content-between my-2">
			<span><%= post.date.toDateString() %></span>
			<%if(post.isPrivate){%>
				<span>Private</span>
			<%} else {%>
				<span>Public</span>
			<%}%>
		</div>
		<p>
			<em>Submitted By <%= post.author.username%></em>
		</p>
		<div>
			<a href="/posts/<%=post._id%>/edit" class = "btn btn-block  btn-delete-edit-add">Edit</a>
			<form action="/posts/<%= post._id %>?_method=DELETE" class="delete-form" method="POST">
				<button class="btn btn-block btn-delete-edit-add my-2">Delete</button>
			</form>
		</div>
		<hr>
		<div class="comments">
			<a class="btn btn-block btn-delete-edit-add" href="/posts/<%=post._id%>/comments/new">Add New Comment</a>
			<%post.comments.forEach(function (comment) {%>
				<div class="row">
					<div class="col-md-12">
						<strong>
							<%= comment.author.username%>
						</strong>
						<p>
							<%=comment.text%>
						</p>
						<div class="d-flex flex-row">
							<a href="/posts/<%=post._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-warning">Edit</a>
							<form class="delete-form" action="/posts/<%=post._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" >
								<button class="btn btn-xs btn-danger">Delete</button>
							</form>
						</div>
						

					</div>
				</div>
			<%})%>
		</div>
	</div>	
	


<% include  ../partials/footer%>